name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - appimage_arch: x86_64
            runner: ubuntu-24.04
          - appimage_arch: aarch64
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get git hash
        run: |
          echo -n "https://github.com/${GITHUB_REPOSITORY}/commit/" > src/runtime/version
          git rev-parse --short HEAD  | xargs >> src/runtime/version

      - name: Build
        env:
          ARCH: ${{ matrix.appimage_arch }}
        run: |
          mkdir -p out
          (cd out && ../scripts/docker/build-with-docker.sh)

      - uses: actions/upload-artifact@v4
        with:
          name: runtime-${{ matrix.appimage_arch }}
          path: out/*

  deploy:
    name: Deploy
    needs:
      - build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: mkdir -p out
      - uses: actions/download-artifact@v4
        with:
          path: out
      - run: ./deploy.sh out/**/*
        env:
          RELEASES_API_KEY: ${{ secrets.GITHUB_TOKEN }}
