name: build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - appimage_arch: i686
            runner: ubuntu-24.04
          - appimage_arch: x86_64
            runner: ubuntu-24.04
          - appimage_arch: armhf
            runner: ubuntu-24.04-arm
          - appimage_arch: aarch64
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get git hash
        run: |
          echo -n "https://github.com/${GITHUB_REPOSITORY}/commit/" > src/runtime/version
          git rev-parse --short HEAD  | xargs >> src/runtime/version

      - name: Build
        env:
          ARCH: ${{ matrix.appimage_arch }}
        run: |
          mkdir -p out
          (cd out && ../scripts/docker/build-with-docker.sh)

      - uses: actions/upload-artifact@v4
        with:
          name: runtime-${{ matrix.appimage_arch }}
          path: out/*
